<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head> 

<body>  
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the Prove 02</p>
    <div class="container form">
        <div class="container form input">
        <form action="/prove02/input" method="POST"> 
         Add Title: <input type="text" name="title" style="color: black;">
        <br/>
        <br/>
        Add Author: <input type="text" name="author" style="color: black;">
        <br/>
        <br/>
         Add Summary: <input type="text" name="summary" style="color: black;">
        <br/>
         <button style="background-color: black" type="submit">Submit</button>
        </form>
        </div>
    </div>
  </div>
</div>
<div class="container">

</div>

</body>
</html>

