<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="centered"> 
        <%- include('includes/navigation.ejs') %>
        <h1>404 Page Not Found!</h1>
        <p>The page that's suppose to be here isn't</p>
        <p>Sorry about that.</p>
    </div>
<%- include('includes/end.ejs') %>