<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="centered"> 
    <%- include('includes/navigation.ejs') %>
    <h1>Some error ocurred!!</h1>
    <p>We are working on it, sorry for the inconvenience.</p>
    </div>

<%- include('includes/end.ejs') %>