<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" href="/css/main copy.css">
  <link rel="stylesheet" href="/css/product.css">
</head> 

<body>
    <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
    <main>
         <div class="grid">
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"> <%= input1 %></h1>
                        <h3> By: <%= input2 %> </h3>
                    </header>
                    <div class="card__image">
                        <img src="https://ih1.redbubble.net/image.1199100893.0634/hj,750x-pad,750x1000,f8f8f8.jpg" alt="A Book">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$19.99</h2>
                        <p class="product__description"><%= input3 %></p>
                    </div>
                </article>
        </div> 
    </div>
    </main>

</body>

</html>

