<!DOCTYPE html> 
<html lang="en">  

    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello Browser!</Title>
    </head>

<body> 
    <h1>This is the Prove01 Assignment</h1>
    <p>This is the data back from the server</p>
    <a href="/">Home</a>
    <p>
    This is the the first message: <%= input1 %>
    <br>
    This is the second message: <%=input2 %></p>
</body> 
  
</html>     