<!DOCTYPE html> 
<html> 

    <head><title>Hello Browser!</Title></head>

<body> 
    <h1>This is the Prove01 Assignment</h1>
    <p>This Assignment asks the client to fill in a form with two inputs<br> 
    then after giving that data to the server it is given back to the client</p>
    <a href="/">Home</a>
    <form action="/prove01/message" method="POST"> 
        Input 1: <input type="text" name="message1">
        <br>
        Input 2: <input type="text" name="message2">
        <br>
        <button type="submit">Submit</button>
    </form>
</body> 
  
</html>     